.container:hover {
    background-color: #8064A2;
    color: #fff;
}
.container {
    width: 100%;

    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;

    background: none;
    border: 1px solid #8064A2;
    border-radius: 8px;
    padding: .7em 2.5em;
    margin: .8em 0;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container img{
    position: absolute;
    left: 5%;
}