.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

/*  */
.nav_logo{
    margin: 0 2em;
    width: 25%;
}

/*  */
.search_box input:focus{
    outline: none;
}
.search_box input{
    border: none;
    font-size: 1rem;
    padding: .6em;
    background: linear-gradient(0deg, #F8F9FA, #F8F9FA),linear-gradient(0deg, #EBEDF0, #EBEDF0);
}
.search_box{
    border: 1px solid #EBEDF0;
    display: flex;
    align-items: center;
    margin: 0 1em;
    justify-content: center;
    border-radius: 0px 8px 8px 0px;
    background: linear-gradient(0deg, #F8F9FA, #F8F9FA),linear-gradient(0deg, #EBEDF0, #EBEDF0);
}

.search_icon_box{
    background: #8064A2;
    padding: .65em;
    border-radius: 0px 8px 8px 0px;
}
.mobile_search_icon{
    background-color: #8064A2;
    padding: .1em .5em;
    border-radius: 20px;
    display: none;
}

/*  */
.nav_option_box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_option_box .item, .bell_icon{
    margin: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ---------------- Responsive Work ----------------------- */
@media screen and (max-width: 970px){
    
    .search_box{
        display: none;
    }
    .mobile_search_icon{
        display: inline-block;
    }
}
@media screen and (max-width: 500px){
    .container{

    }
    .nav_option_box .item{
        display: none;
    }
}