
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 3em;
}

/*  */
.banner_text {
    width: 50%;
}

.banner_text p {
    margin: 1em 0;
    line-height: 1.8em;
}
.banner_text h1 {
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: 0.02em;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

/* BANNER IMAGE */
.banner_img{
    width: 50%;
}

/*  */
.blue{
    color:#0096C8;
}
.purple{
    color: #8064A2;
}

/* ----------------- Respnsive Work --------------------------- */
@media screen and (max-width: 600px) {
    .banner_text{
        width: 100%;
    }
    .banner_img{
        width: 100%;
    }
}