
.container input:focus{
    outline: none;
}
.container input{
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: .6em;
    background: linear-gradient(0deg, #F8F9FA, #F8F9FA),linear-gradient(0deg, #EBEDF0, #EBEDF0);
}
.container{
    border: 1px solid #EBEDF0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 8px 8px 0px;
    background: linear-gradient(0deg, #F8F9FA, #F8F9FA),linear-gradient(0deg, #EBEDF0, #EBEDF0);
}

.search_icon_box{
    background: #8064A2;
    padding: .65em;
    border-radius: 0px 8px 8px 0px;
}
.search_icon_box button{
    background: none;
    color: #fff;
    border: none;
}