.input_box input:focus{
    outline: none;
}
.input_box input::placeholder{
    color: #939CA3;

}
.input_box input{
    border: 1px solid #EBEDF0;
    width: 100%;
    padding: .7em;
    border-radius: 8px;
}
.input_box{
    margin: .8em 0;
}