.container{
    height: 100%;
    width: 100%;
}

/* Feature card */
.feature_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    margin: 2em;
}
.feature_container > div{
    flex: 40%;
}

/* Add Page Block */
.addPostBlock_container{
    margin: 2em;
    padding: 1em;
    background-color: #F7FDFF;
}

/* Testimonial Section */
.testimonial_container{
    margin: 2em;
    padding: 1em;
}
.testimonial_container > div > p{
    color: #6D747A;
    line-height: 30px;
}
.testimonial_container > div{
    background-color: #F7F5F9;
}

/* END BANNER SECTION */
.end_banner_container{
    padding: 3em;
    background-color: #F7FDFF;
}