
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1em;
}

.head{
    align-self: flex-start;
    font-style: italic;
    margin: .5em 0;
}
.btn{
    align-self: flex-start;
}
.btn button:hover{background-color: #fff; color: #8064A2;}
.btn button{
    background-color:#8064A2;
    color: #fff;
}

.img, .img img{
    width: 100%;
}

.purple{
    color: #8064A2;
}
.blue{
    color:#0096C8;
}