

.container{
    margin: 3em;
}

.head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.body{
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
}
.body > div{
    flex: 40%;
}

.body > div:nth-child(1):hover{
    background-color: #8064A2;
    color: #fff;
}
.body > div:nth-child(2):hover{
    background-color: #77933C;
    color: #fff;
}
.body > div:nth-child(3):hover{
    background-color: #C0504D;
    color: #fff;
}
.body > div:nth-child(4):hover{
    background-color: #0096C8;
    color: #fff;
}