
.container{
}

.footer_section{
    display: flex;
    justify-content: space-around;
    padding: 2em;
    flex-wrap: wrap;
}
.footer_section > div > ul{
    position: static;
}
.active >div> ul{
    display: inline-block;
    position: static;
    box-shadow: none;
}

.container footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: #F7F5F9;
    font-weight: 500;
}

.social_section > div{
    margin: 1em 0;
}

.social_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

@media screen and (max-width:700px) {
    .footer_section > div{
        width: 100%;
    }
}